/*
 * General CSS for page.
 */
/* 
    Created on : Dec 23, 2015, 11:36:54 PM
    Author     : Jerra Khorn, jkhorn1@gmail.com
*/

body {
	font-family: "Ubuntu";
}

body nav:first-child {
    padding-right: 10px;
    padding-left: 10px;
}

.long {
    height: 850px;
    padding: 80px 120px;
}

.grayBG {
    background-color: #D3D3D3;
}

.blackBG {
	background-color: #000;
}

#topPage {
    height: 1000px;
}